body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 10px;
}

#logo {
  width: 7%;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

#busqueda {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
  padding: 10px;
  width: 30%;
  margin-bottom: 40px;
  margin-left: 20px;
  border-radius: 5%;
}

#listaJuegos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.elemJuego {
  margin: 30px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5%;
}

.elemJuego:hover {
  transform: translateY(-5px);
}

.elemJuego img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.descripcion, .plataforma, .genero, .url {
  font-size: 16px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}